<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="TwitchAPIUrl" value="https://api.twitch.tv/kraken"/>
    <add key="TwitchAPIAcceptHeader" value="application/vnd.twitchtv.v2+json"/>
    <add key="TwitchUser" value="gibletto"/>
    <add key="TwitchChannel" value="gibletto"/>
    <add key="TwitchStream" value="gibletto"/>
    <add key="TwitchTeam" value="teamsp00ky"/>
    <add key="TwitchVideo" value="c3254614"/>
    <add key="TwitchSearchStream" value="League of Legends"/>
    <add key="TwitchGameStream" value="League of Legends"/>
  </appSettings>
</configuration>